*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{
position:fixed;
width:100%;
background:#111827;
padding:20px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
width:90%;
margin:auto;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:55px;
}

.hero span{
color:#38bdf8;
}

.hero p{
margin:20px;
font-size:20px;
}

.btn{
padding:12px 30px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:30px;
}

section{
padding:80px 10%;
}

h2{
text-align:center;
margin-bottom:30px;
font-size:35px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:30px;
text-align:center;
border-radius:12px;
transition:.3s;
}

.card:hover{
background:#38bdf8;
transform:translateY(-8px);
}

.project{
background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:10px;
}

footer{
background:#111827;
padding:20px;
text-align:center;
margin-top:50px;
}
